body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;}
    .logo { font-family: "Raleway", 
        sans-serif;
        line-height: 1.17;
        font-weight: 700;
        font-size: 18px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;}
    .logo-web {color: #2e2f42;}
   .nav-link {font-size: 16px;
            line-height: 1.5;
         letter-spacing: 0.02em;
         color: #2e2f42;
        font-weight: 500}

        .nav-link:hover,
        .nav-link:focus {
            color: #404bbf;
        }
 .contacts {
     font-style: normal;
 }

 .contact-link {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .contact-link:hover,
 .contact-link:focus {
     color: #404bbf;
 }
     .main-page {background: #2e2f42;}     
     .main-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;}
    .order-button {background: #4d5ae5;
        color: #fff;
        font-size: 16px;
        letter-spacing: 0.04em;
       font-weight: 500;
        border: none;
       line-height: 1.5;
        cursor: pointer;
      
    }
    .order-button:hover,
    .order-button:focus {
                    background: #404bbf;
                }
    .features .features-title{
        font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;}   
    .features .features-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}   

  .team {
      background: #f4f4fd;
    
      text-align: center;
  }

  .team-title {
      color: #2e2f42;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.11;
     letter-spacing: 0.02em;
      text-align: center;
      margin: 0 0 72px;
      text-transform: capitalize
    
      
     
  }
.team-item {
      background: #fff;
      border: 1px solid #e7e9fc;
    
      
  }
.team-name {
      color: #2e2f42;
      letter-spacing: 0.02em;
      font-size: 20px;
      line-height: 1.2;
      margin: 32px 0 8px;
    font-weight: 500;
  }
.team-job {
      color: #434445;
      letter-spacing: 0.02em;
      color: #434455;
      font-size: 16px;
      margin: 0;
      line-height: 1.5
      
    
  }
    
  .portfolio-title{
        font-size: 36px;
       letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;

        color: #2e2f42;
       line-height: 1.11}   
.portfolio-item {
   background: #fff;
   
}
 .portfolio-name {font-weight: 500;
            font-size: 20px;
          line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;}
.portfolio-text {font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;}
.footer {background: #2e2f42;}
.footer-web {
    font-weight: 700;
    font-size: 18px;
   letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {font-weight: 400;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
}                
   
    
      
        