h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {text-decoration: none; color: inherit;}



.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-list {
    display: flex;
    gap: 40px;
}

    .logo { font-family: "Raleway", 
        sans-serif;
        line-height: 1.17;
        font-weight: 700;
        font-size: 18px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
        } 
    .logo-web {color: #2e2f42;}
   .nav-link {display: block;
             padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
         letter-spacing: 0.02em;
         color: #2e2f42;
        font-weight: 500}

        .nav-link:hover,
        .nav-link:focus {
            color: #404bbf;
        }
 .contacts {margin-left: auto;
     font-style: normal;
 }
 .contacts-list {
     display: flex;
     gap: 40px;
 }

 .contact-link {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .contact-link:hover,
 .contact-link:focus {
     color: #404bbf;
 }
     .main-page {
         background: #2e2f42;text-align: center;}     
     .main-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto 48px;
    max-width: 496px;}

    .order-button {background: #4d5ae5;
        color: #fff;
        font-size: 16px;
        letter-spacing: 0.04em;
       font-weight: 500;
        border-radius: 4px;
       line-height: 1.5;
        cursor: pointer;
        padding: 16px 32px;
        display: block;
        min-width: 169px
        
      
    }
    .order-button:hover,
    .order-button:focus {
                    background: #404bbf;
                }
      .features {padding: 120px 0;}          
    .features .features-title{
        font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;}   
    .features-list {
                display: flex;
                gap: 24px;
                }
.features-list li {flex: 0 1 calc((1158px - 24px * 3) / 4);}

    .features .features-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}   

  .team { padding: 120px 0;
      background: #f4f4fd;
    
      text-align: center;
  }

  .team-title {
      color: #2e2f42;
      font-weight: 500;
      font-size: 36px;
      line-height: 1.11;
     letter-spacing: 0.02em;
      text-align: center;
      margin: 0 0 72px;
      text-transform: capitalize
      }
.team-item {flex: 0 1 calc((1158px - 24px * 3) / 4);
      background: #fff;
      border: 1px solid #e7e9fc;
}
.team-list {display: flex;
    gap: 24px;}

.team-name {
      color: #2e2f42;
      letter-spacing: 0.02em;
      font-size: 20px;
      line-height: 1.2;
      margin: 32px 0 8px;
    font-weight: 500;
   
  }
.team-job {
      color: #434445;
      letter-spacing: 0.02em;
      color: #434455;
      font-size: 16px;
      margin-bottom: 32px;
      line-height: 1.5
      } 

  .portfolio {
    border: 1px solid #e7e9fc;
    padding: 120px 0;}
    
  .portfolio-title{
        font-size: 36px;
       letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
        color: #2e2f42;
       line-height: 1.11}   

 .portfolio-list {
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }
.portfolio-item {
   background: #fff;
  border-bottom: 1px solid #e7e9fc;
flex: 0 1 calc((100% - 24px * 2) / 3);
}
 .portfolio-name {font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;}

.portfolio-body {padding: 32px 16px;}

.portfolio-text {font-size: 16px;
    color: #434455;}

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: inline-block;
   flex-direction: column;
}

.footer-web {
    color: #f4f4fd;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
}
   
    
      
        